useDynLib(CoRegNet)


export(discretizeExpressionData)
export(coregnet)
export(hLICORN)
export(masterRegulator)
export(display)
exportClasses("coregnet")
exportMethods("print","show","length","dim",
"summary","regulatorInfluence",
"addEvidences","coregulators","coerce",
"regulators","targets","activators","repressors",
"coregnetToList","coregnetToDataframe","addCooperativeEvidences"
,"refine")


import(methods)
import(shiny)
import(arules)



importFrom(parallel,mclapply)
importFrom(parallel,pvec)
importFrom(parallel,parLapply)

importFrom(igraph,V)
importFrom(igraph,E)
importFrom(igraph,graph.data.frame)
importFrom(igraph,graph.difference)
importFrom(igraph,graph.intersection)
importFrom(igraph,graph.union)
importFrom(igraph,simplify)

